<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW8SXR4DTclTcUCiwbapdWuIbWXNnrPLw</string>
	<key>GCM_SENDER_ID</key>
	<string>346915777564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agretechApp</string>
	<key>PROJECT_ID</key>
	<string>agretech-6d964</string>
	<key>STORAGE_BUCKET</key>
	<string>agretech-6d964.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346915777564:ios:0b9a353915e41d8dd9c3d9</string>
</dict>
</plist>